<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Add gym"></Label>
</ActionBar>
<StackLayout verticalAlignment="center" paddingLeft="50" paddingRight="50">
    <Label text="Add new gym to our database" class="h2 text-center"></Label>
    <StackLayout class="form">
        <StackLayout class="input-field">
            <Label class="label" text="Gym name"></Label>
            <TextField #gymName class="input input-border" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <StackLayout class="input-field" horizontalAlignment="left" width="50%" >
                <Label class="label" text="Street" ></Label>
                <TextField #street class="input input-border"  autocorrect="false" autocapitalizationType="none"></TextField>
            </StackLayout>
            <StackLayout class="input-field" horizontalAlignment="right" width="50%">
                <Label class="label" text="Number" ></Label>
                <TextField #number class="input input-border"  autocorrect="false" autocapitalizationType="none"></TextField>
            </StackLayout>
        </StackLayout>


        <StackLayout orientation="horizontal" horizontalAlignment="left" >
            <StackLayout class="input-field" width="50%" height="20%">
                <Label class="label" text="Zip code(optional)"></Label>
                <TextField #zipCode class="input input-border"  autocorrect="false" autocapitalizationType="none"></TextField>
            </StackLayout>
            <StackLayout class="input-field" width="50%">
                <Label class="label" text="City"></Label>
                <TextField #city class="input input-border"  autocorrect="false" autocapitalizationType="none"></TextField>
            </StackLayout>
        </StackLayout>

        <StackLayout >
            <MDButton text="Add gym" rippleColor="blue" (tap)="createGym(gymName.text, street.text, number.text, zipCode.text, city.text)"></MDButton>
        </StackLayout>
    </StackLayout>
</StackLayout>
