@using Microsoft.AspNetCore.Identity
@using TrainingFinder.Models.Users
@inject SignInManager<AdminUser> SignInManager
@inject UserManager<AdminUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Training" asp-action="Create">Add new Training</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Create">Add new gym</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Confirm">Gyms to confirm</a>
            </li>
        }
    </ul>
