<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Your trainings"></Label>
</ActionBar>
<GridLayout columns="2*,*" rows="2*,auto,2*"  paddingLeft = "20" paddingRight="20">
    <Card:CardView class="cardStyle" col="0" colSpan="2" row="1" elevation="1">
        <GridLayout class="cardContent" rows="auto,auto,auto,auto" >
            <Label row="0" text="Your trainings" class="h2" textWrap="true" ></Label>
            <!-- <StackLayout row="1"  orientation="horizontal">
                <Label [text]="gym.street" class="h4" ></Label>
                <Label [text]="gym.number" class="h4" paddingLeft="5"></Label>
            </StackLayout>
            <StackLayout row="2"  orientation="horizontal">
                <Label  [text]="gym.postCode" class="h4"></Label>
                <Label  [text]="gym.city" class="h4"></Label>
            </StackLayout>
            <StackLayout  row="3"  orientation="horizontal">
                <Label  text="Liczba treningów" class="h4"></Label>
                <Label  [text]="gym.trainings.length" class="h4" paddingLeft="5"></Label>
            </StackLayout> -->
        </GridLayout>
    </Card:CardView>
    <Card:CardView class="cardStyle" elevation="10" col="0" row="2" colSpan="2">
        <ListView [items]="trainings" >
            <ng-template let-item="item">
                <GridLayout rows="auto" columns="*">
                    <Label row="0" [text]="item.description"></Label>
                    <Label row="0"  horizontalAlignment="center"[text]="item.dateTime"></Label>
                    <!-- <Button row="0" horizontalAlignment="right" text="JOIN" (tap)="joinTrainingClick(item.trainingId)" class="btn btn-primary btn-active"></Button> -->
                </GridLayout>
            </ng-template>
        </ListView>
    </Card:CardView>
    <!-- <Button  col="2" row="0" text="Add training" (tap)="addTraining()" class="-primary -rounded-sm" verticalAlignment="bottom"></Button> -->
</GridLayout>
