<ActionBar title="Register"></ActionBar>
<StackLayout verticalAlignment="center" paddingLeft="40" paddingRight="40">
  <Label text="Register" class="h1 text-center"></Label>
  <StackLayout [formGroup]="registerForm">
    <StackLayout>
      <MDTextField
        [ngClass]="{ invalid: invalidUsername }"
        [formControl]="registerForm.get('username')"
        variant="outline"
        hint="Username"
        autocorrect="false"
        autocapitalizationType="none"
      ></MDTextField>
    </StackLayout>
    <StackLayout>
      <MDTextField
        [ngClass]="{ invalid: invalidPassword }"
        [formControl]="registerForm.get('password')"
        secure="true"
        variant="outline"
        hint="Password"
        autocorrect="false"
        autocapitalizationType="none"
      ></MDTextField>
    </StackLayout>
    <StackLayout>
      <MDButton
        class="registerBtn"
        text="Submit"
        (tap)="onRegisterTap()"
      ></MDButton>
    </StackLayout>
  </StackLayout>
</StackLayout>
