<ActionBar>
  <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
  <NavigationButton
    ios:visibility="collapsed"
    icon="res://menu"
    (tap)="onDrawerButtonTap()"
  ></NavigationButton>
  <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
  <ActionItem
    icon="res://menu"
    android:visibility="collapsed"
    (tap)="onDrawerButtonTap()"
    ios.position="left"
  >
  </ActionItem>
  <Label text="Home"></Label>
</ActionBar>

<GridLayout columns="*,*" rows="2*,*">
  <MapView
    row="0"
    col="0"
    colSpan="2"
    (mapReady)="onMapReady($event)"
    (markerInfoWindowTapped)="onMarkerInfoWindowTapped($event)"
    iosOverflowSafeArea="true"
  ></MapView>
  <GridLayout
    columns="*,*"
    paddingLeft="20"
    paddingRight="20"
    col="0"
    colSpan="2"
    row="1"
  >
    <MDCardView rippleColor="blue" elevation="1" col="0">
      <ng-container *ngIf="userProfile">
        <StackLayout class="cardContent" orientation="vertical" margin="5">
          <Label
            class="h3"
            text="Hello {{ userProfile.firstName }}"
            textWrap="true"
          ></Label>
          <Label class="h5" text="Your current weight" textWrap="true"></Label>
          <Label
            class="h4"
            text="{{ userProfile.weight }} kg"
            textWrap="true"
          ></Label>
        </StackLayout>
      </ng-container>
    </MDCardView>
    <MDCardView
      rippleColor="blue"
      elevation="1"
      col="1"
      (tap)="trainingClick()"
    >
      <ng-container *ngIf="this.trainings">
        <StackLayout class="cardContent" orientation="vertical">
          <Label class="h3" text="You have " textWrap="true"></Label>
          <Label
            class="h2"
            text="{{ this.trainingCounter }}"
            textWrap="true"
          ></Label>
          <Label
            class="h3"
            text="{{ this.trainingCounter === 1 ? 'training' : 'trainings' }}"
            textWrap="true"
          ></Label>
          <ng-container *ngIf="this.trainingCounter > 0">
            <Label class="h5" text="Your next training" textWrap="true"></Label>
            <StackLayout orientation="horizontal">
              <Label
                class="h5"
                paddingLeft="20"
                [text]="trainings[0].description"
                textWrap="true"
              ></Label>
              <Label
                class="h5"
                paddingLeft="19"
                [text]="trainings[0].dateTime"
                textWrap="true"
              ></Label>
            </StackLayout>
          </ng-container>
        </StackLayout>
      </ng-container>
    </MDCardView>
  </GridLayout>
</GridLayout>
