/* Add mobile styles for the component here.  */
.cardStyle {
  background-color: rgb(237, 237, 237);
  color: rgb(43, 43, 43);
  margin: 10, 10, 10, 0;
}

.cardContent {
  padding: 15;
  font-size: 30;
}
GridLayout.background{
  background-color: #f6f6f6;
}
MDCardView {
    margin: 10, 10, 10, 0;
}
MDButton.primary{
    background-color: #ffffff;
    border-radius: 3;
}
